/** @format */

.footer {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px;
    background-color: var(--background-color);
    font-size: 12px;

    .heartIcon {
      color: red;
    }
  }
}

// Mobile
@media screen and (max-width: 768px) {
  .footer {
    footer {
      justify-content: center;
      margin-top: 0;

      img {
        display: none;
      }
    }
  }
}

// Tablet
@media screen and (min-width: 769px) and (max-width: 1100px) {
  .footer {
    footer {
      justify-content: center;
      margin-top: 0;

      img {
        display: none;
      }
    }
  }
}
