/** @format */

.authentication {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);

  h1 {
    font-size: 20px;
    color: var(--text-primary-color);
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--text-secondary-color);
    width: 250px;
    gap: 20px;

    input {
      padding: 10px;
      border: none;
      border-bottom: 1px solid var(--text-tertiary-color);
    }

    .loginBtn {
      button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: var(--text-primary-color);
        color: var(--text-secondary-color);
        cursor: pointer;
      }
    }

    .googleBtn {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        width: 100%;
        padding: 9px;
        border: 1px solid var(--text-primary-color);
        background-color: var(--text-secondary-color);
        color: var(--text-primary-color);
        cursor: pointer;
      }
      svg {
        font-size: x-large;
      }
    }

    p {
      font-size: 12px;
      text-align: center;
      color: red;
    }

    span {
      font-size: 12px;
      text-align: center;
    }
  }
}
