/** @format */

.authentication {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #b9e7e7;

  h1 {
    font-size: 20px;
    color: teal;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 250px;
    gap: 20px;

    input {
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
    }

    button {
      padding: 10px;
      border: none;
      background-color: teal;
      color: white;
      cursor: pointer;
    }

    p {
      font-size: 12px;
      text-align: center;
      color: red;
      margin: 0;
    }

    span {
      font-size: 12px;
      text-align: center;
    }

    .errors {
      align-self: flex-start;
      color: red;
    }

    .spinner {
      display: flex;
      justify-content: center;
    }
  }
}

// Mobile
@media screen and (max-width: 768px) {
  .authentication {
    height: calc(100vh - 145px);
    margin-top: 87px;
  }
}

// Tablet
@media screen and (min-width: 769px) and (max-width: 1100px) {
  .authentication {
    height: calc(100vh - 172px);
    margin-top: 114px;
  }
}
